<div class="page-header">
    <h3>{{model.title}}</h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">
      {{model.body}}
    </div>
</div>

<div>
    <p>
        <label>Date Created:</label> {{model.dateCreated}}
    </p>
    <p>
        <label>Date Modified:</label> {{model.dateModified}}
    </p>
    <div>
      {{link-to "Edit" "articles.edit" model class="btn btn-default"}}
        <span class="button-spacer"></span>
        <a class="btn btn-danger" href="#" {{action "delete" model}}>Delete</a>
    </div>
</div>
